/* --- RESET ----------------------------------------------------------- {{{ */
html, body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
header, footer, section, article {
    display: block;
}
ul, ol {
    list-style: none;
}

a {
    color: rgb(189,54,54);
    text-shadow: 1px 1px #ffffff;
    text-decoration: none;
}
.center {
    text-align: center;
}
/* --------------------------------------------------------------------- }}} */

/* --- BASES ----------------------------------------------------------- {{{ */
html {
    font-size: 14px;

}
body {
    background-color: #222;
    font-family: 'PT Sans Narrow', sans-serif;
}
p {
    font-size: 20px;
}

.list {
    font-size: 20px;
    list-style: square;
    margin-left: 40px;
}
/* --------------------------------------------------------------------- }}} */

/* --- CONTAINERS ------------------------------------------------------ {{{ */
.container {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

.w50 {
    float: left;
    width: 50%;
}

.error {

    color: #fff;
    background:  rgb(189,54,54);
    padding: 20px;
    margin: 0 0 20px 0;
}
/* --------------------------------------------------------------------- }}} */

/* --- HEADER ---------------------------------------------------------- {{{ */
#header {
width: 100%;
    height: 60px;
    background: #222;
    box-shadow: 0 10px 20px #000;
    position: fixed;
}
#header h1 {
    float: left;
}
/* --------------------------------------------------------------------- }}} */

/* --- NAV ------------------------------------------------------------- {{{ */
#nav ul li {
    float: left;
    padding-left: 40px;
}
#nav ul li a {
    color: #ebebeb;
    line-height: 60px;
    font-size: 24px;
    text-shadow: 1px 2px 0px #000;
}
/* --------------------------------------------------------------------- }}} */

/* --- ARTICLE --------------------------------------------------------- {{{ */
article {
    margin-top: 100px;
}
article h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 2px 0px #000;
    color: #fff;
}
article section {
    background: rgba(238, 238, 238, 0.9);
    margin-top: 20px;
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
}
article section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px #fff;
}
article section h3 {
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0px #fff;
}
/* --------------------------------------------------------------------- }}} */

/* --- GAME ------------------------------------------------------------ {{{ */
.game {
    background: #000;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}
.game h3 {
    font-size: 20px;
    font-weight: bold;
}
.game .important {
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;

}
/* --------------------------------------------------------------------- }}} */

/* --- FORM ------------------------------------------------------------ {{{ */
form p {
    margin-top: 5px;
}
form p label {
    float: left;
    width: 280px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 46px;
    text-align:right;
}
input[type=text], input[type=email], input[type=password], textarea {

    border: 1px solid #aaa;
    padding: 10px;
    color: #333;
    width: 500px;
    background: #fff;
    font-size: 20px;
}
.small label {
    width: 120px;
}
.small input[type=text] {
    width: 250px;
}
.button {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px 15px;
    font-size: 25px;
    border-radius: 30px;
    background: #333;
    color: #fff;
    border: 0;
    margin: 10px;
}
a.button {

    padding: 7px 17px;
}
/* --------------------------------------------------------------------- }}} */

/* --- FOOTER ---------------------------------------------------------- {{{ */
#footer {
    margin-top: 10px;
    text-align:right;
    color: #fff;
}
/* --------------------------------------------------------------------- }}} */

/* --- BACKGROUND ------------------------------------------------------ {{{ */
.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0,0,0,0.7);
    background: url('images/loading.gif') no-repeat center center;
    height: 32px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 0;
}
.vegas-overlay {
    background: transparent url(overlays/01.png);
    opacity: 0.5;
    z-index: -1;
}
.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important;
    z-index: -2;
}
.vegas-overlay, .vegas-background {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
/* --------------------------------------------------------------------- }}} */
